<div id="about-block" class="content-wrap">
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="inverted rt-header">Passion to educate</h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <img class="mugshot" src="<%= image_path('cjlim.jpg') %>" title="CJ Lim">
          <h3>
            <div>CJ Lim</div>
            <div class="thin">Edu.preneur</div>
          </h3>          
        </div>
        <div class="col-md-6">
          <p>
            I have dedicated my time and energy in the education industry since 2004. From publishing education books, providing tutoring services to my current work of being the head of academic in Mathematics and Additional Mathematics in a local International School.
          </p>
          <p>
            My engineering background, entrepreneurship qualification and work experience in the business and corporate sector has given me the opportunity to provide a fresh perspective for my students when it comes to education. 
          </p>
          <p>
            I believe everyone is unique as an individual and we all learn differently. It is how I, as a teacher can understand them and their learning channels that allows them to learn to their best potential. 
          </p>
          <p>
            I am looking forward to get connected to more like minded tutors who want to make a difference in the education industry. Tutors who can provide quality education and meaningful lessons to students, allowing them to improve academically and hopefully inspired them to achieve their full potential along the path.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>