<%
  meta  title: "About ReferTutor - Post a job. A tutor gets the job. You get paid", 
        description: "The tutor who gets the job pays ReferTutor RM200-RM1000 finder's fee. You get 50% of that!"
%>

<div id="about-block">
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="inverted rt-header">Passion to educate</h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <img class="mugshot" src="<%= image_path('cjlim.jpg') %>" title="CJ Lim">
          <h3>
            <div>CJ Lim</div>
            <div class="thin">Edu.preneur</div>
          </h3>          
        </div>
        <div class="col-md-6">
          <p>
            CJ has been dedicating his time and energy in the education industry since 2004. From publishing educational books, providing tutoring services to his current work of being the head of academic in Mathematics and Additional Mathematics in a local International School in Malaysia.
          </p>
          <p>
            His engineering background, entrepreneurship qualification and work experience in the business &amp; corporate sector has given him the opportunity to provide a fresh perspective for his students when it comes to education. 
          </p>
          <p>
            CJ believes everyone is unique as an individual and learns differently. With this belief, he is driven to help students reach their full potential through the guidance of trusted tutors in the education industry.
          </p>
          <p>
            ReferTutor offers trusted tutors who want to make a difference in the education industry. Tutors who can provide quality education and meaningful lessons to students - empowering their students to improve academically and inspiring them to achieve their full potential.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

