<div id="hero-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row ta-center">
          <div class="header-container">
            <h2 class="rt-header">Post a job.</h2><BR/>
            <h2 class="rt-header inverted">A tutor gets the job.</h2><BR/>
            <h2 class="rt-header">You get paid.</h2>            
          </div>          
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="sprite send"></div>
            <h3>Curated Tutors</h3>
            <p>
              Only tutors who match your job requirements get contacted. We never spam our tutors.
            </p>
          </div>
          <div class="col-md-4">
            <div class="sprite paid"></div>
            <h3>Great pay</h3>
            <p>
              Get paid up to RM500 when a tutor gets the job. We collect finder's fee from the tutor for you.
            </p>
          </div>
          <div class="col-md-4">
            <div class="sprite literacy"></div>
            <h3>Help a student</h3>
            <p>
              Every time a tutor gets a job through us, we buy a textbook for a poor student.
            </p>
          </div>
        </div>        
        <div class="row ta-center">
          <a href="#" class="btn" data-toggle="modal" data-target="#postJobModal">POST A JOB</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="jobs-block">
  <a id="job" class="anchor"></a>
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="rt-header">LATEST JOBS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-centered">
        <div class="job">
          <div class="job-inner fulltime" >
            <div class="col-md-4 description">
              <p class="subject">IGCSE biology. Exam in Oct/Nov 2014</p>
              <p class="level">Year 11</p>
              <p class="client">Ms Goh</p>    
            </div>          
            <div class="col-md-3 detail">
              <p class="state"><i class="fa fa-map-marker"></i>WP Kuala Lumpur</p>
              <p class="service-area"><i class="fa fa-car"></i>Titiwangsa</p>
            </div>
            <div class="col-md-2 refer">
              <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#applyNowModal">APPLY NOW</a>
            </div>
            <div class="col-md-3 refer">
              <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#referTutorModal">REFER A TUTOR</a>
            </div>
          </div>
        </div>
        <div class="job">          
          <div class="job-inner fulltime">
            <div class="col-md-4 description">
              <p class="subject">IGCSE English</p>
              <p class="level">Year 7</p>
              <p class="client">Ms Amy Chong</p>    
            </div>          
            <div class="col-md-3 detail">
              <p class="state"><i class="fa fa-map-marker"></i>WP Kuala Lumpur</p>
              <p class="service-area"><i class="fa fa-car"></i>Bandar Sri Damansara</p>
            </div>
            <div class="col-md-2 refer">
              <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#applyNowModal">APPLY NOW</a>
            </div>
            <div class="col-md-3 refer">
              <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#referTutorModal">REFER A TUTOR</a>
            </div>
          </div>
        </div>
        <div class="job">          
          <div class="job-inner fulltime">
            <div class="col-md-4 description">
              <p class="subject">Guiding on school work (English)</p>
              <p class="level">Year 4 International School</p>
              <p class="client">Mr Lam</p>    
            </div>          
            <div class="col-md-3 detail">
              <p class="state"><i class="fa fa-map-marker"></i>WP Kuala Lumpur</p>
              <p class="service-area"><i class="fa fa-car"></i>Bukit Jalil</p>
            </div>
            <div class="col-md-2 refer">
              <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#applyNowModal">APPLY NOW</a>
            </div>
            <div class="col-md-3 refer">
              <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#referTutorModal">REFER A TUTOR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :foot do %>

  <script type="text/javascript">

    $(document).on("click", ".open-ClientModal", function () {
      var target = $(this).data("target");
      var type = $(this).html();
      $this = $(this).closest(".job");
      var heading = $this.find('.subject').text() + " - " + $this.find('.level').text() + " - " + $this.find('.client').text();      
      heading += " - " + $this.find('.state').text() + " - " + $this.find('.service-area').text();
      $(target + " #client_seek_heading").val(type + " - " + heading);
    });

  </script>

<% end %>


