<header>
  <div class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div id="logo">ReferTutor</div>
        <!-- <img class="brand" src="https://yesgraph.global.ssl.fastly.net/img/logo@2x.png" width="150"> -->
      </a>
      <ul class="nav pull-right">
        <li><a href="/">How it works</a></li>
        <li><a href="/">FAQ</a></li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/">Get started</a></li>
      </ul>
    </div>
  </div>
</header>

<div id="hero-block">
  <div class="row">
    <div class="col-md-6">      
      <img src="<%= image_path('tutors.png') %>" style="margin-left: 20px; margin-top: 80px;">
    </div>
    <div class="col-md-6">
      <br/><br/>
      <h2 class="rt-header">WE HELP TUTORS MAKE MONEY</h2>
      <h3>
        <b>Are you looking for a tutor for your friend or client?</b><br>Now you can make money refering trusted tutors from here!<br/><br/>
        <b>Are you a tutor who is looking for more clients?</b><br>Here is the place to advertise yourself! You can set a filter to only email you relevant leads based on your subjects of expertise.
      </h3>
      <div class="row">
        <div class="col-md-5">
          <a href="/" class="btn">I'M LOOKING FOR TUTORS</a>
        </div>
        <div class="col-md-5">
          <a href="/" class="btn">I'M LOOKING FOR CLIENTS</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="how-it-works-block">
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="rt-header">HOW IT WORKS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="sprite send"></div>
        <h3>Send out the job</h3>
        <p>
          Let us know what you're looking for, and ReferTutor helps you contact tutors who match your criteria.
        </p>
      </div>
      <div class="col-md-4">
        <div class="sprite referrals"></div>
        <h3>Referrals flow in</h3>
        <p>
          Tutors who match your criteria consent to paying the finder’s fee when they start the job.
        </p>
      </div>
      <div class="col-md-4">
        <div class="sprite paid"></div>
        <h3>Get paid</h3>
        <p>
          We take care of the rest! You get 50% of the finder’s fee when a tutor starts on the job.
        </p>
      </div>
    </div>
    <div class="row ta-center">
      <a href="#try" class="btn go">Get Started</a>
    </div>
  </div>
</div>


<div id="faq-block">
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="inverted rt-header">FAQ</h2>
      </div>
    </div>
  </div>
</div>