<header>
  <div class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div id="logo">ReferTutor</div>
        <!-- <img class="brand" src="https://yesgraph.global.ssl.fastly.net/img/logo@2x.png" width="150"> -->
      </a>
      <ul class="nav pull-right">
        <li><a href="/">Pricing</a></li>
      </ul>
    </div>
  </div>
</header>

<div id="hero-block">
  <div class="row">
    <div class="col-md-6">      
      <img src="<%= image_path('tutors.png') %>" style="margin-left: 20px; margin-top: 80px;">
    </div>
    <div class="col-md-6">
      <br/><br/>
      <h2 class="rt-header">WE HELP TUTORS MAKE MONEY</h2>
      <h3>
        <b>Ever been asked if you know any tutor that you could recommend?</b><br>Now you can make money refering one from here!<br/><br/>
        <b>Are you a tutor who is looking for more clients?</b><br>Here is the place to advertise yourself! You can set a filter to only email you relevant leads based on your subjects of expertise.
      </h3>
      <div class="row">
        <div class="col-md-5">
          <a href="/" class="btn">I'M LOOKING FOR TUTORS</a>
        </div>
        <div class="col-md-5">
          <a href="/" class="btn">I'M LOOKING FOR CLIENTS</a>
        </div>
      </div>
    </div>
  </div>
</div>