
<div id="how-it-works-block">
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="rt-header">HOW IT WORKS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="sprite send"></div>
        <h3>Check out our job offers</h3>
        <p>
          We email you the latest job offers
        </p>
      </div>
      <div class="col-md-4">
        <div class="sprite referrals"></div>
        <h3>Apply or Refer</h3>
        <p>
          You can refer tutors to apply for the jobs. Perhaps even apply yourself!
        </p>
      </div>
      <div class="col-md-4">
        <div class="sprite paid"></div>
        <h3>Referrer gets paid</h3>
        <p>
          The referred tutor will pay a finder's fee to us and we share 50% of it with you!
        </p>
      </div>
    </div>
    <div class="row ta-center">
      <a href="#start-block" class="btn go" rel="anchor">Get Started</a>
    </div>
  </div>
</div>

<a id="faq"></a>
<div id="faq-block">
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="inverted rt-header">FAQ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Who pays the finder’s fee?</h3>
        <p>
          The tutor whom you referred pays a finder fee prior to starting his/her job.
        </p>
      </div>
      <div class="col-md-6">
        <h3>How much is finder’s fee?</h3>
        <p>
          ReferTutor negotiates a reasonable finder fee with the tutors before they start on their jobs. It varies between RM100-RM500 for each successful referral.
        </p>
      </div>     
    </div> 
    <div class="row">
      <div class="col-md-6">
        <h3>How long before I receive my finder’s fee?</h3>
        <p>
          As soon as the tutor whom you referred started on a job, we will transfer the finder's fee to you.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Who are the verified tutors?</h3>
        <p>
          Tutors who signed up could become a verified tutor by referring to 3 or more tutors. When 3 referred tutor signs up, the verification is complete.
        </p>
      </div>     
    </div> 
    <div class="row">
      <div class="col-md-6">
        <h3>What are the benefits of verified tutor?</h3>
        <p>
          Verified tutors are given higher priority for matching jobs.
        </p>
      </div>
      <div class="col-md-6">
        <h3>I’ve more questions, how can I contact you?</h3>
        <p>
          The best way to reach us is through <a href="#" data-toggle="modal" data-target="#supportModal">ReferTutor Help Center</a>.
        </p>
      </div>     
    </div> 
    <div class="row ta-center" style="margin-top: 50px;">
      <a href="#start-block" class="btn go" rel="anchor">Get Started</a>
    </div>
  </div>
</div>

<div id="start-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ta-center">
        <h2 class="inverted rt-header">Get Started Now.</h2>
      </div>
    </div>
    <div id="start-btn" class="row ta-center">
      <div class="col-md-3">
        <a href="#" class="btn" data-toggle="modal" data-target="#clientModal">REFER A TUTOR</a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn" data-toggle="modal" data-target="#tutorModal">POST A JOB</a>
      </div>
      <div class="col-md-6">
        <img src="<%= image_path('students.jpg') %>">
      </div>
    </div>
  </div>
</div>