<%
  meta  title: "How ReferTutor works?", 
        description: "The tutor who gets the job pays ReferTutor RM200-RM1000 finder's fee. You get 50% of that!"
%>

<div id="how-it-works-block">
  <a id="how" class="anchor"></a>
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="rt-header">HOW IT WORKS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="sprite send"></div>
        <h3>Send out the job</h3>
        <p>
          We email and SMS job offers to matching tutors. We also post the latest job offers here.
      </div>
      <div class="col-md-4">
        <div class="sprite referrals"></div>
        <h3>Apply or Refer</h3>
        <p>
          Tutors either apply to the job or refer it to other tutors.
        </p>
      </div>
      <div class="col-md-4">
        <div class="sprite paid"></div>
        <h3>Job poster gets paid</h3>
        <p>
          The tutor who gets the job pays ReferTutor RM200-RM1000 finder's fee. You get 50% of that!
        </p>
      </div>
    </div>
    <div class="row ta-center">
      <a href="#start-block" class="btn go" rel="anchor">Get Started</a>
    </div>
  </div>
</div>

<div id="faq-block" class="faq">
  <a id="faq" class="anchor"></a>
  <div class="container">
    <div class="row">
      <div class="header-container">
        <h2 class="inverted rt-header">FAQ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Who pays the finder’s fee?</h3>
        <p>
          The tutor who gets the job pays ReferTutor the finder's fee. A job could go on for years!
        </p>
      </div>
      <div class="col-md-6">
        <h3>How much is a finder's fee?</h3>
        <p>
          ReferTutor negotiates a reasonable finder's fee with the tutors before they start on their jobs. It varies between RM200-RM1000.
        </p>
      </div>     
    </div> 
    <div class="row">
      <div class="col-md-6">
        <h3>How long before I receive my finder’s fee?</h3>
        <p>
          When the tutor starts on the job which you posted, we will collect and transfer the finder's fee to you.
        </p>
      </div>
      <div class="col-md-6">
        <h3>I’ve more questions, how can I contact you?</h3>
        <p>
          The best way to reach us is through <a href="#" data-toggle="modal" data-target="#supportModal">ReferTutor Help Center</a>.
        </p>
      </div>     
    </div>
    <div class="row ta-center" style="margin-top: 50px;">
      <a href="#start-block" class="btn go" rel="anchor">Get Started</a>
    </div>
  </div>
</div>

<div id="start-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ta-center">
        <h2 class="inverted rt-header">Get Started Now.</h2>
      </div>
    </div>
    <div id="start-btn" class="row ta-center">
      <div class="col-md-3">
        <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#applyNowModal">SEND ME JOBS</a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn" data-toggle="modal" data-target="#postJobModal">POST A JOB</a>
      </div>
      <div class="col-md-6">
        <img src="<%= image_path('tutors.png') %>">
      </div>
    </div>
  </div>
</div>