@import"bootstrap";
 @import"bootstrap/theme";
 body > header {
    &.navbar {
        border-top: 4px solid #e11f2b;
        .navbar-inner {
            border-bottom: 1px solid #d4d4d4;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        }
        z-index: 2000;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        margin-bottom: 0px;
        #logo {
            font-family:'Paytone One', sans-serif;
            font-size: 36px;
            margin-top: 30px;
        }
        .navbar-brand {
            margin-left: -10px;
            display: inline-block;
            padding-top: 35px;
            float: left;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            color: #e11f2b;
            text-align: center;
            img {
                padding-left: 16px;
            }
        }
        .nav {
            >li {
                float: left;
                background-color: #fff;
                margin: 0;
                font-family:"Montserrat";
                font-weight: 700;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
                font-size: 17px;
                >a {
                    height: 90px!important;
                    line-height: 110px!important;
                    padding: 0 17px!important;
                    color: #616161!important;
                }
            }
        }
    }
}
.header-container {
    padding: 2em 0 5em;
    text-align: center;
}
.rt-header {
    display: inline;
    margin: 0;
    padding: 5px 11px;
    background: #e11f2b;
    font-family:"Montserrat";
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
#hero-block {
    background-color: rgba(242, 242, 233, .65);
    /* margin: 10px; */
    padding-top: 92px;
    min-height: 500px;
    h3 {
        display: block;
        background-color: transparent!important;
        width: 550px;
        background-color: rgba(255, 255, 255, .5);
        font-family:"Montserrat";
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        padding: 8px 10px;
        color: rgba(13, 14, 14, .66);
        line-height: 30px;
    }
    .btn {
        color: #fff;
        background-color: #0074af;
        border: 1px solid #0074af;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        &:hover {
            background-color: #00527c;
            border: 1px solid #00527c;
        }
    }
}
#how-it-works-block {
    padding-top: 92px;
    padding-bottom: 80px;
    div.sprite {
        background-image: image-url("how-it-works.png");
        background-repeat: no-repeat;
        -webkit-background-size: 195px 195px;
        background-size: 195px 195px;
        display: block;
        margin: 0 auto;
        &.send {
            width: 94px;
            height: 94px;
            background-position: -101px 0;
        }
        &.referrals {
            width: 101px;
            height: 101px;
            background-position: 0 0;
        }
        &.paid {
            width: 101px;
            height: 101px;
            background-position: -101px -101px;
        }
    }
    h3 {
        display: block;
        padding: 8px 10px;
        font-family:"Montserrat";
        font-weight: 700;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        font-size: 26px;
        text-align: center;
        color: #2e2f2f;
    }
    p {
        font-family:"Montserrat";
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        margin: 0 auto 40px;
        text-align: center;
        color: #2e2f2f;
        max-width: 400px;
    }
}
#top-nav .current a {
    background-color: rgba(213, 211, 207, .6);
}
#faq-block {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(235, 235, 239, .6);
    h2.inverted {
        color: #e11f2b;
        background: #fff;
    }
}
#start-block {
    padding-top: 180px;
    .btn {
        color: #fff;
        background-color: #0074af;
        border: 1px solid #0074af;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        &:hover {
            background-color: #00527c;
            border: 1px solid #00527c;
        }
    }
}
.ta-center {
    text-align: center;
}
a.btn.go, button.go {
    padding: 8px 12px;
    background: rgba(255, 255, 255, .2);
    border: 3px solid #e11f2b;
    border-radius: 4px;
    font-family:"Montserrat";
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 18px;
    color: #e11f2b;
}
a.btn.go:hover, button.go:hover {
    background: #e11f2b;
    color: #fff;
}
body>footer {
    margin-top: 40px;
    margin-bottom: 20px;
    p.copyright {
        margin-top: 0;
        font-family:"Montserrat";
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        color: #68696b;
        text-align: left;
    }
    ul li {
        margin: 0!important;
        padding: 0!important;
        &.sep {
            padding: 4px!important;
            &:after {
                content:"•";
            }
        }
        a {
            font-family:"Montserrat";
            font-weight: 700;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 20px;
            color: #e11f2b;
            height: 20px;
        }
    }
}
a.rt-link {
    color: #e11f2b;
    text-decoration: none;
}
a.rt-link:hover {
    color: #e11f2b;
    text-decoration: none;
    border-bottom: 1px dashed #e11f2b;
}
.list-inline, .list-unstyled {
    margin-left: 0;
    list-style: none;
}