<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="list-inline">
          <li><a href="/about" class="rt-link">About</a></li>
          <li class="sep"></li>
          <li><a href="#" class="rt-link" data-toggle="modal" data-target="#supportModal">Support</a></li>
          <!-- <li class="sep"></li> -->
          <!-- <li><a href="/" class="rt-link">Privacy Policy</a></li> -->
          <!-- <li class="sep"></li> -->
          <!-- <li><a href="/" class="rt-link">Terms of Service</a></li> -->
        </ul>
        <p class="copyright">Copyright © 2014 ReferTutor. All rights reserved.</p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>

