<header id="rt-header" class="navbar-fixed-top">
  <div class="navbar-inner">  
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="brand" src="<%= image_path('logo.png') %>" width="200">
      </a>
      <ul id="top-nav" class="nav pull-right">        
        <li><a href="#hero-block" style="display:none"></a></li>    
        <li><a href="/#how">How it works</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/#start">Get started</a></li>
      </ul>
    </div>
  </div>  
</header>

<% content_for :foot do %>

  <!-- Easing when Anchor link is clicked -->
  <script type="text/javascript">
    $("[rel='anchor']").click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
          && location.hostname == this.hostname
        ) {
        var $target = $(this.hash);
        $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
        if ($target.length) {
          var targetOffset = $target.offset().top;
          $('html,body')
          .animate({scrollTop: targetOffset}, {duration: 1000, easing: 'easeInOutExpo'});
          return false;
        }
      }
    });
  </script>  
<% end %>

<% content_for :document_ready do %>

  <script type="text/javascript">

    webshims.setOptions('forms-ext', {
        replaceUI: 'auto'
    });
    webshims.polyfill('forms forms-ext');

    function goToAnchor() { 
      setTimeout(function() {
        window.scrollTo(0, 0);
        hash = document.location.hash;
        if (hash) {
            window.location.href = hash;
        }
      }, 1500);
    }

    $(document).ready(function(){    

      $(this).updatePolyfill(); 
      
      $('#multi_availability').multipleSelect({
        width: '100%',
        maxHeight: '500px',
        placeholder: '-- Please select --',
        onClose: function() {   
          $("#client_seek_availability").val($('#multi_availability').multipleSelect('getSelects'));
        }
      });
          
      goToAnchor();
    });
  </script>

<% end %>