<nav id="rt-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav"></button>
      <a class="navbar-brand" href="/">
        <img class="brand" src="<%= image_path('logo.png') %>">
      </a>
    </div>
    <div id="top-nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#hero-block" style="display:none"></a></li>    
        <li><a href="/#how">How it works</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/#start">Get started</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- 
<header id="rt-header" class="navbar-fixed-top">
  <div class="navbar-inner">  
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="brand" src="<%= image_path('logo.png') %>" width="200">
      </a>
      <ul id="top-nav" class="nav pull-right">        
        <li><a href="#hero-block" style="display:none"></a></li>    
        <li><a href="/#how">How it works</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/#start">Get started</a></li>
      </ul>
    </div>
  </div>  
</header> -->

<% content_for :foot do %>

  <!-- Easing when Anchor link is clicked -->
  <script type="text/javascript">
    $("[rel='anchor']").click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
          && location.hostname == this.hostname
        ) {
        var $target = $(this.hash);
        $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
        if ($target.length) {
          var targetOffset = $target.offset().top;
          $('html,body')
          .animate({scrollTop: targetOffset}, {duration: 1000, easing: 'easeInOutExpo'});
          return false;
        }
      }
    });

    function goToAnchor() { 
      hash = document.location.hash;
      if (hash) {
          window.location.href = hash;
      }
    }

    $.webshims.setOptions('basePath', '/webshims/shims/');
    $.webshims.polyfill();  
  </script>  
<% end %>

<% content_for :document_ready do %>
 
  $(this).updatePolyfill(); 

  $('#multi_availability').multipleSelect({
    width: '100%',
    maxHeight: '500px',
    placeholder: '-- Please select --',
    onClose: function() {   
      $("#client_seek_availability").val($('#multi_availability').multipleSelect('getSelects'));
    }
  });          

<% end %>